* {
	font: 28px Times New Roman, sans-serif;
}

h1 {
	color: #EEEEEE;
	background: #90a4ae;
	padding: 5px;
	border: 20px solid #90a4ae;
	border-radius: 20px;
	flex: 1;
}

img {
	display: block;
	margin: 0 auto;
}

p {
	color: #6080ae;
}
