* {
	box-sizing: border-box;
	padding: 0.2rem;
	font-family: "Lucida Sans Typewriter","Lucida Console",Monaco,"Bitstream Vera Sans Mono",monospace;
}

body, html {
	height: 100%;

	background-image: url('media/tree.jpg');

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;

	display: flex;
	justify-content: flex-start;
	align-content: center;
	flex: auto;


	background-color: #555;
}

.header a {
	margin: 0.2rem;

	background-color: #333;
	border-radius: 10%;

	color: #fff;
}

.parallax {
	position: relative;
	height: 100%; 
	width: 100%; 

}

.content {
	padding-top: 10%;
}

.content div {
	display:flex;
	flex-direction: column;	
}

.contentBox {
	width: 50%;

	margin: 2rem;

	border-radius: 2rem;
	background-color: #fff;
}

.contentBox p {
}
